html { background: #111; }
body { 
    background: #ddd;
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Figtree, Arial, sans-serif;
    }

h1, h2, h3, h4, h5, h6 { 
    font-family: "Averia Libre", Arial, sans-serif;
 }

h2 { 

}

h3 { 

}