html { background: #111; }
body { 
    background: #ddd;
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
font-family: Overpass, Arial, sans-serif;
    }

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Poetsen One', Arial, sans-serif;   
}

h1 {

}

h2 { 

}

h3 { 

}