* {
    box-sizing: border-box;
}
html { background: #f36da5; }
body { 
    background: #f1f1f1;
    width: 1000px;
    margin: 50px auto;
    border: 10px solid #0691a6 ;
    padding: 2rem;
font-family: Overpass, Arial, sans-serif;
    }

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Poetsen One', Arial, sans-serif;   
}
.pretty-box {
    outline: solid #0691a6 3px; 
}
p {
    line-height: 35px;
} 
.info {
    background-color: #0b8787;
}
.alert {
    background-color: #c40404;
} 
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
.info, .alert {
    border-radius: 5px;
    width: 100%;
    color: white;
    padding: 1.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin-top: 1rem;
}
.left-column {
    background: #ef5e15;
    border-radius: 5px;
}
.image-container img {
    width: 24%;
}
.image-container {
    margin: 0 auto;
    width: 96%;
}